body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url(https://github.com/jpatitucci2018/m6-hw6-Patitucci-Julia/raw/main/images/bernard-hermant-cB18uhhf43s-unsplash.jpg);
}

main {
    display: flex;
    flex-flow: column wrap;
}

p {
    display: flex;
    width: 65%;
}

aside {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.headshot {
    float: left;
    margin-right: 20px;
}

p {
    margin: 15px 0;
    line-height: 140%;  
}

main, nav {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 12px;
}

nav a{
    margin: 0 4px;
    color: pink;
    text-align: right;
}

nav {
    display: flex;
    justify-content: flex-end;
}

h1{
    display: flex;
    justify-content: center;
}
header, footer {
    background-color: lightseagreen;
    padding: 24px 0;
}

header {
    border-bottom: double 10px pink;
}

footer {
    color: antiquewhite;
    text-align: center;
    margin-top: auto;
    border-top: double 10px pink;
}