body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    max-width: 500px;
    display: flex;
    display: inline-block;
    padding: 25px;
    width: 65%;
}

.headshot {
    float: left;
    margin-right: 20px;
}

p {
    margin: 15px 0;
    line-height: 140%;  
}

main, nav {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 12px;
}

nav a{
    margin: 0 4px;
    color: pink;
    text-align: right;
}

header, footer {
    background-color: lightseagreen;
    padding: 24px 0;
}

header {
    border-bottom: double 10px pink;
}

footer {
    color: antiquewhite;
    text-align: center;
    margin-top: auto;
    border-top: double 10px pink;
}